	
	<div class="col-md-12">
    <ul class="social-network social-circle">
        <li>
          <%= link_to "/auth/facebook", class: "icoFacebook" do %>
	          <i class="fa fa-facebook"></i>
	        <% end %>
        </li>
        <li>
          <%= link_to "/auth/google_oauth2", class: "icoGoogle" do %>
	          <i class="fa fa-google-plus"></i>
	        <% end %>
        </li>
        <!--<li>
        	<%#= link_to "/auth/twitter", class: "icoTwitter" do %>
	           <i class="fa fa-twitter"></i>
	        <%# end %>
        </li>-->
        <li>
          <%= link_to "/auth/github", class: "icoGithub" do %>
	          <i class="fa fa-github"></i>
	        <% end %>
        </li>
        <li>
        	<%= link_to "/auth/linkedin", class: "icoLinkedin" do %>
	          <i class="fa fa-linkedin"></i>
	        <% end %>
        </li>
        <li>
        	<%= link_to "/auth/instagram", class: "icoInstagram" do %>
	          <i class="fa fa-instagram"></i>
	        <% end %>
        </li>
    </ul>				
	</div>