
<% if (@login.present? && @login.message.present?) || flash[:notice] %>
    <%= render partial: "com/nbos/core/shared/alerts", locals: {obj: @login, notice: flash[:notice]} %>
<% end %>

<div class="container">    
    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Change Password</div>
          <div style="float:right; font-size: 85%; position: relative; top:-10px;">
          </div>
        </div>
        <div class="panel-body">
          <%= form_for(@login, url: com_nbos_core_change_password_path, method: 'post', html: { role: "form", class: "form-horizontal" }) do |f| %>
            <div class="form-group">
              <label for="usd" class="col-md-3 control-label">Current Password</label>
              <div class="col-md-9">
              <%= f.password_field :password, autofocus: true, class: "form-control", id: "password", title: "Please enter your current password", placeholder: "******" %>
                <%= errors_for @login, :password %>
              </div>
            </div>
            <div class="form-group">
              <label for="newPwd" class="col-md-3 control-label">New Password</label>

              <div class="col-md-9">
                <%= f.password_field :newPassword, class: "form-control", id: "newPassword", title: "Please enter your new password", placeholder: "******" %>
                <%= errors_for @login, :newPassword %>
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-md-offset-3 col-md-9">
                <%= f.submit "Change", class: "btn btn-success" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>